<div *ngIf="selectedTool === 'CL'">
  <div class="row margin-row"></div>
  <div class="row owner-info">
    <b>Recover your lost shares:</b><br>
    Please visit our claim tool <a href="https://claimtool.alethena.com/" target="_blank">here</a>. This page is here to help you in case you lost access to your shares. It provides you with a simple interface that
    allows you to reclaim your shares using MetaMask. If you are unsure what steps you need to take to recover your shares, please do not hesitate to contact our team at
    <a href="contact@alethena.com">contact@alethena.com</a>. Also, you can find a list of all open claims.
  </div>
</div>
