<div class="row">
  <h1>Welcome to Alethena's Reclaim Panel</h1>
</div>
<div class="row owner-info">
    <b>Recover your lost shares:</b><br>
    This page is here to help you in case you lost access to your shares. It provides you with a simple interface that allows you to reclaim your shares using MetaMask. 
    If you are unsure what steps you need to take to recover your shares, please do not hesitate to contact our team at <a href="contact@alethena.com">contact@alethena.com</a>. Also, you can find a list of all open claims.
</div>
<div class="row owner-info">
    <h4>Select Your Contract</h4>
    <mat-form-field>
      <mat-label>Share Token Contract</mat-label>
      <mat-select>
        <mat-option *ngFor="let contract of contracts" [value]="contract.value">
          {{contract.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>
