<footer>

  <div class="row no-margin">
    <div class="col-4 address">
      <div class="address-container">
        <ul class="address">
          <li>Equility AG</li>
          <li>Dammstrasse 16</li>
          <li>6300 Zug</li>
          <li>Switzerland</li>
        </ul>
      </div>
    </div>

    <div class="col-4">
      <p class="social">
        <a href="https://www.linkedin.com/company/alethena" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/_alethena" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/alethena" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://medium.com/alethena" target="_blank"><i class="fab fa-medium"></i></a>
        <a href="https://github.com/alethena" target="_blank"><i class="fab fa-github"></i></a>
      </p>

      <p class="copyright"> &copy; 2019 by Equility AG. All rights reserved.</p>
    </div>

    <div class="col-4">
      <ul class="footer-nav footer-nav-hide">
        <li><a href="https://www.alethena.com/#aboutus" target="_blank">About</a></li>
        <li><a href="mailto:contact@alethena.com">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>