<div *ngIf="selectedTool === 'EQ'">
  <div class="row margin-row"></div>
  <div class="row data-container">
    <div class="col-4">
      <mat-card class="mat-elevation-z8 data-card">
        <mat-card-title>
          <i class="material-icons"> looks_one </i> <span class="vertical-align">Company Information</span>
        </mat-card-title>
        <mat-card-content>
          <p class="names no-margin-bottom"> Company Name </p>
          <p class="names no-margin-top-p"> {{ companyName }} </p>
          <p class="names no-margin-bottom"> Website </p>
          <p class="names no-margin-top-p"> <a href="{{ companyWebsite }}" target="_blank">Link</a></p>
          <p class="names no-margin-bottom"> UID </p>
          <p class="names no-margin-top-p"> <a href="{{ companyUIDLink }}" target="_blank"> {{ companyUID }} </a></p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4 ">
      <mat-card class="mat-elevation-z8 data-card">
        <mat-card-title>
          <i class="material-icons"> looks_two </i><span class="vertical-align">Token Information</span>
          <button *ngIf="MMenabled" mat-icon-button class="float-right" [matMenuTriggerFor]="menu4"
            aria-label="Settings button.">
            <i class="material-icons float-right"> settings </i>
          </button>
          <mat-menu #menu4="matMenu">
            <button mat-menu-item>
              <div *ngIf="pauseStatus; then thenBlock4 else elseBlock4"></div>
              <ng-template #thenBlock4>
                <mat-icon class="float-right-icon"> play_circle_outline </mat-icon>
                <span class="menu-items" (click)="openUnpausingDialog()"> Unpausing Contract </span>
              </ng-template>
              <ng-template #elseBlock4>
                <mat-icon class="float-right-icon"> pause_circle_outline </mat-icon>
                <span class="menu-items" (click)="openPausingDialog()"> Pausing Contract </span>
              </ng-template>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-content>
          <p class="names no-margin-bottom"> Name </p>
          <p class="names no-margin-top-p"> {{ nameStatus }} </p>
          <p class="names no-margin-bottom"> Symbol </p>
          <p class="names no-margin-top-p"> {{ symbolStatus }}</p>
          <div *ngIf="pauseStatus; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <p class="names no-margin-bottom"> Contract Status </p>
            <p class="names no-margin-top-p"> Paused </p>
          </ng-template>
          <ng-template #elseBlock>
            <p class="names no-margin-bottom"> Contract Status </p>
            <p class="names no-margin-top-p"> Live </p>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="mat-elevation-z8 data-card">
        <mat-card-title>
          <i class="material-icons"> looks_3 </i><span class="vertical-align">Overview Supply</span>
          <button *ngIf="MMenabled" mat-icon-button class="float-right" [matMenuTriggerFor]="menu5"
            aria-label="Settings button.">
            <i class="material-icons float-right"> settings </i>
          </button>
          <mat-menu #menu5="matMenu">
            <button mat-menu-item>
              <mat-icon class="float-right-icon"> library_books </mat-icon>
              <span class="menu-items" (click)="openTotalSharesDialog()"> Set Total Shares </span>
            </button>
            <button mat-menu-item>
              <mat-icon class="float-right-icon"> add </mat-icon>
              <span class="menu-items" (click)="openMintDialog()"> Mint New Tokens </span>
            </button>
            <button mat-menu-item>
              <mat-icon class="float-right-icon"> clear </mat-icon>
              <span class="menu-items" (click)="openUnmintDialog()"> Unmint Tokens </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-content>
          <p class="names no-margin-bottom"> Total Shares </p>
          <p class="names no-margin-top-p"> {{ totalSharesStatus | number}} </p>
          <p class="names no-margin-bottom"> Tokenized Shares </p>
          <p class="names no-margin-top-p"> {{ totalSupplyStatus | number }} </p>
          <p class="names no-margin-bottom"> Acquisition Offering </p>
          <p class="names no-margin-top-p"> None </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <!-- SECOND ROW -->

  <div class="row data-container">
    <div class="col-4">
      <mat-card class="mat-elevation-z8 data-card">
        <mat-card-title>
          <i class="material-icons"> looks_4 </i><span class="vertical-align">Token References</span>
          <button *ngIf="MMenabled" mat-icon-button class="float-right" [matMenuTriggerFor]="menu1"
            aria-label="Settings button.">
            <i class="material-icons float-right"> settings </i>
          </button>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item>
              <mat-icon class="float-right-icon"> update </mat-icon>
              <span class="menu-items"> <a href="{{ ensUrl }}" target="_blank"> Update
                  ENS </a> </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-content>
          <p class="names no-margin-bottom"> T&C URL</p>
          <p class="names no-margin-top-p"><a href="https://{{ termsandconditions }}"
              target="_blank">{{ termsandconditions }}</a></p>
          <p class="names no-margin-bottom"> ENS</p>
          <p class="names no-margin-top-p"><a href="{{ ensLink }}" target="_blank">{{ ens }}</a></p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="mat-elevation-z8 data-card">
        <mat-card-title>
          <i class="material-icons"> looks_5 </i> <span class="vertical-align">Claim Details</span>
          <button *ngIf="MMenabled" mat-icon-button class="float-right" [matMenuTriggerFor]="menu2"
            aria-label="Settings button.">
            <i class="material-icons float-right"> settings </i>
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="openCollateralRateDialog()">
              <mat-icon class="float-right-icon"> attach_money </mat-icon>
              <span class="menu-items"> Update Collateral Rate </span>
            </button>
            <button mat-menu-item (click)="openClaimPeriodDialog()">
              <mat-icon class="float-right-icon"> access_time </mat-icon>
              <span class="menu-items"> Update Claim Period </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-content>
          <p class="names no-margin-bottom"> Collateral Rate </p>
          <p class="names no-margin-top-p"> {{ collateralRate/1000000000000000000 | number:'.2' }} Ether </p>
          <p class="names no-margin-bottom"> Pre-Claim Period </p>
          <p class="names no-margin-top-p"> {{ preClaimPeriod/3600 | number}}h </p>
          <p class="names no-margin-bottom"> Claim Period </p>
          <p class="names no-margin-top-p"> {{ claimPeriod/86400 | number}} Days </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="mat-elevation-z8 data-card">
        <mat-card-title>
          <i class="material-icons"> looks_6 </i> <span class="vertical-align">Contract Details</span>
          <button *ngIf="MMenabled" mat-icon-button class="float-right" [matMenuTriggerFor]="menu3"
            aria-label="Settings button.">
            <i class="material-icons float-right"> settings </i>
          </button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item>
              <mat-icon class="float-right-icon"> account_circle </mat-icon>
              <span class="menu-items" (click)="openChangeOwnerDialog()"> Change Owner </span>
            </button>
            <!-- <button mat-menu-item>
            <mat-icon class="float-right-icon"> delete_forever </mat-icon>
            <span class="menu-items" (click)="openRenounceOwnershipDialog()"> Renounce Ownership </span>
          </button> -->
          </mat-menu>
        </mat-card-title>
        <mat-card-content>
          <p class="names no-margin-bottom"> Contract Address </p>
          <p class="names no-margin-top-p"> <a href="https://rinkeby.etherscan.io/address/{{contractAddress}}"
              target="_blank"> Etherscan
            </a> </p>
          <p class="names no-margin-bottom"> Owner Address </p>
          <p class="names no-margin-top-p"> <a href="https://rinkeby.etherscan.io/address/{{ownerAddress}}"
              target="_blank"> Etherscan
            </a> </p>
          <p class="names no-margin-bottom"> Master Address </p>
          <p class="names no-margin-top-p"> <a href="https://rinkeby.etherscan.io/address/{{masterAddress}}"
              target="_blank"> Etherscan
            </a> </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
