@import '../../styles-material.scss';

.data-container {
  margin-top: 2vh;
}

.data-card {
  height: 200px;
}

.mat-icon {
  height: auto;
  width: auto;
}

.material-icons {
  font-size: 38px;
  color: mat-color($alethena-app-primary);
  margin-left: -4px;
}

.float-right {
  float: right !important;
  color: rgb(146, 146, 146);
  font-size: 26px;
  margin-top: 0;
}

.vertical-align {
  vertical-align: 10px;
  margin-left: 15px;
}

.names {
  font-size: 20px;

  a {
    text-decoration: none;
    color: #333;
  }

  a:hover {
    border-bottom: solid 2px #155c72;
    color: #155c72;
  }
}

.mat-list-item {
  a {
    text-decoration: none;
    color: #333;
    // word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  a:hover {
    border-bottom: solid 2px #155c72;
    color: #155c72;
  }
}

.mat-raised-button {
  background-color: mat-color($alethena-app-primary);
  color: white;
  margin-right: 0px;
  margin-top: 10px;
}

.example-slider {
  margin-left: 10px;
}

.details {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.horizontal-margin {
  margin-right: 40px;
}

.menu-items {
  a {
    font-size: 18px;
    text-decoration: none;
    color: #333;
  }
}