<div class="row">
  <h1>Welcome to Alethena's Token Dashboard</h1>
</div>
<div class="row owner-info">
    <b>Only for the owner of the Share Token contract:</b><br>
    Please connect to your MetaMask account and the corresponding wallet address in order to enable changes. Please be
    aware that any change costs a tiny amount of Gas in Ether.
</div>
<div class="row owner-info">
    <h4>Select Your Contract</h4>
    <mat-form-field>
      <mat-label>Share Token Contract</mat-label>
      <mat-select (selectionChange)="refreshContractAddress($event)" [(value)]="selected">
        <mat-option *ngFor="let contract of contracts" [value]="contract.value">
          {{contract.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>

<div class="row data-container">
  <div class="col-4">
    <mat-card class="mat-elevation-z8 data-card">
      <mat-card-title>
        <i class="material-icons"> looks_one </i>
      </mat-card-title>
      <mat-card-content>
        <p class="names"> <b>Name:</b> {{ nameStatus }}</p>
        <p class="names"> <b>Symbol:</b> {{ symbolStatus }}</p>
        <p></p>
        <div *ngIf="pauseStatus; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <p class="names no-margin-bottom"> <b>Status:</b> Paused <button mat-raised-button class="no-margin-top" (click)="openUnpausingDialog()">Unpause</button></p>
        </ng-template>
        <ng-template #elseBlock>
            <p class="names no-margin-bottom"> <b>Status:</b> Live <button mat-raised-button class="no-margin-top" (click)="openPausingDialog()">Pause</button></p>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4 ">
    <mat-card class="mat-elevation-z8 data-card">
      <mat-card-title>
        <i class="material-icons"> looks_two </i>
      </mat-card-title>
      <mat-card-content>
        <p class="names" style="text-align:center"> <b>{{ totalSupplyStatus | number }} Tokenized Shares </b></p>
        <p style="text-align:center">
          <button mat-raised-button class="horizontal-margin" (click)="openMintDialog()">Mint</button>
          <button mat-raised-button (click)="openUnmintDialog()">Unmint</button>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="mat-elevation-z8 data-card">
      <mat-card-title>
        <i class="material-icons"> looks_3 </i>
      </mat-card-title>
      <mat-card-content>
        <p class="names" style="text-align:center"> <b>{{ totalSharesStatus | number}} Total Shares </b></p>
        <p style="text-align:center">
          <button mat-raised-button (click)="openTotalSharesDialog()">Set Total Shares</button>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<!-- SECOND ROW -->

<div class="row data-container">
  <div class="col-4">
    <mat-card class="mat-elevation-z8 data-card">
      <mat-card-title>
        <i class="material-icons"> looks_4 </i>
        <button mat-icon-button class="float-right" [matMenuTriggerFor]="menu1" aria-label="Settings button.">
          <i class="material-icons float-right"> settings </i>
        </button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item>
            <mat-icon> update </mat-icon>
            <span class="menu-items"> <a href="https://manager.ens.domains/name/alethena.eth" target="_blank"> Update
                ENS </a> </span>
          </button>
        </mat-menu>
      </mat-card-title>
      <mat-card-content>
        <p class="names"> <b>T&C URL:</b> &#8205; <a href="https://{{ termsandconditions }}"
            target="_blank">{{ termsandconditions }}</a></p>
        <p class="names"> <b>ENS:</b> &#8205; <a href="https://etherscan.io/address/alethena.eth"
            target="_blank">alethena.eth</a></p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="mat-elevation-z8 data-card">
      <mat-card-title>
        <i class="material-icons"> looks_5 </i> <span class="vertical-align">Claim Details</span> 
        <button
          mat-icon-button class="float-right" [matMenuTriggerFor]="menu2" aria-label="Settings button.">
          <i class="material-icons float-right"> settings </i>
        </button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item (click)="openCollateralRateDialog()">
            <mat-icon> attach_money </mat-icon>
            <span class="menu-items"> Update Collateral Rate </span>
          </button>
          <button mat-menu-item (click)="openClaimPeriodDialog()">
            <mat-icon> access_time </mat-icon>
            <span class="menu-items"> Update Claim Period </span>
          </button>
        </mat-menu>
      </mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item> <b>Collateral Rate:</b> &#8205; {{ collateralRate/1000000000000000000 }} Ether</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item> <b>Pre-Claim Period:</b> &#8205; {{ preClaimPeriod/3600 }}h</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item> <b>Claim Period:</b> &#8205; {{ claimPeriod/86400 }} Days</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="mat-elevation-z8 data-card">
      <mat-card-title>
        <i class="material-icons"> looks_6 </i> <span class="vertical-align">Contract Details</span>
        <button
          mat-icon-button class="float-right" [matMenuTriggerFor]="menu3" aria-label="Settings button.">
          <i class="material-icons float-right"> settings </i>
        </button>
        <mat-menu #menu3="matMenu">
          <button mat-menu-item>
            <mat-icon> account_circle </mat-icon>
            <span class="menu-items" (click)="openChangeOwnerDialog()"> Change Owner </span>
          </button>
          <button mat-menu-item>
            <mat-icon> delete_forever </mat-icon>
            <span class="menu-items" (click)="openRenounceOwnershipDialog()"> Renounce Ownership </span>
          </button>
        </mat-menu>
      </mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item><b>Contract Address:</b> &nbsp; <a
              href="https://rinkeby.etherscan.io/address/{{contractAddress}}" target="_blank"> {{ contractAddress }}
            </a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><b>Owner Address:</b> &nbsp; <a href="https://rinkeby.etherscan.io/address/{{ownerAddress}}"
              target="_blank"> {{ ownerAddress }} </a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><b>Master Address:</b> &nbsp; <a href="https://rinkeby.etherscan.io/address/{{masterAddress}}"
              target="_blank"> {{ masterAddress }} </a></mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
