$alethena-palette: (
    50 : #e3ebee,
    100 : #b9ced5,
    200 : #8aaeb9,
    300 : #5b8d9c,
    400 : #387487,
    500 : #155c72,
    600 : #12546a,
    700 : #0f4a5f,
    800 : #0c4155,
    900 : #063042,
    A100 : #78d0ff,
    A200 : #45beff,
    A400 : #12acff,
    A700 : #00a1f7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

