<div *ngIf="selectedTool === 'SD'">
  <div class="row margin-row"></div>
  <div class="row data-container">
    <div class="col-4">
      <mat-card class="mat-elevation-z8 data-card">
        <mat-card-title>
          <i class="material-icons"> looks_one </i> <span class="vertical-align">Company Information</span>
        </mat-card-title>
        <mat-card-content>
          <p class="names no-margin-bottom"> Company Name </p>
          <p class="names no-margin-top-p"> {{ companyName }} </p>
          <p class="names no-margin-bottom"> Website </p>
          <p class="names no-margin-top-p"> <a href="{{ companyWebsite }}" target="_blank">Link</a></p>
          <p class="names no-margin-bottom"> UID </p>
          <p class="names no-margin-top-p"> <a href="{{ companyUIDLink }}" target="_blank"> {{ companyUID }} </a></p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4 ">
      <mat-card class="mat-elevation-z8 data-card">
        <mat-card-title>
          <i class="material-icons"> looks_two </i><span class="vertical-align">Token Information</span>
          <button *ngIf="MMenabled" mat-icon-button class="float-right" [matMenuTriggerFor]="menu2"
            aria-label="Settings button.">
            <i class="material-icons float-right"> settings </i>
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item>
              <div *ngIf="pauseStatus; then thenBlock4 else elseBlock4"></div>
              <ng-template #thenBlock4>
                <mat-icon class="float-right-icon"> play_circle_outline </mat-icon>
                <span class="menu-items" (click)="dialogCall('Unpausing')"> Unpausing Contract </span>
              </ng-template>
              <ng-template #elseBlock4>
                <mat-icon class="float-right-icon"> pause_circle_outline </mat-icon>
                <span class="menu-items" (click)="dialogCall('Pausing')"> Pausing Contract </span>
              </ng-template>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-content>
          <p class="names no-margin-bottom"> Name </p>
          <p class="names no-margin-top-p"> {{ nameStatus }} </p>
          <p class="names no-margin-bottom"> Symbol </p>
          <p class="names no-margin-top-p"> {{ symbolStatus }}</p>
          <div *ngIf="pauseStatus; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <p class="names no-margin-bottom"> Contract Status </p>
            <p class="names no-margin-top-p"> Paused </p>
          </ng-template>
          <ng-template #elseBlock>
            <p class="names no-margin-bottom"> Contract Status </p>
            <p class="names no-margin-top-p"> Live </p>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="mat-elevation-z8 data-card">
        <mat-card-title>
          <i class="material-icons"> looks_3 </i><span class="vertical-align">Overview Supply</span>
          <button *ngIf="MMenabled" mat-icon-button class="float-right" [matMenuTriggerFor]="menu5"
            aria-label="Settings button.">
            <i class="material-icons float-right"> settings </i>
          </button>
          <mat-menu #menu5="matMenu">
            <button mat-menu-item>
              <mat-icon class="float-right-icon"> library_add </mat-icon>
              <span class="menu-items" (click)="openFeedSharesDialog()"> Feed Shares </span>
            </button>
            <button mat-menu-item>
              <mat-icon class="float-right-icon"> keyboard_backspace </mat-icon>
              <span class="menu-items" (click)="openRetrieveSharesDialog()"> Retrieve Shares </span>
            </button>
            <button mat-menu-item>
              <mat-icon class="float-right-icon"> add_circle_outline </mat-icon>
              <span class="menu-items" (click)="openFeedXCHFDialog()"> Feed XCHF </span>
            </button>
            <button mat-menu-item>
              <mat-icon class="float-right-icon"> undo </mat-icon>
              <span class="menu-items" (click)="openRetrieveXCHFDialog()"> Retrieve XCHF </span>
            </button>
            <button mat-menu-item>
              <mat-icon class="float-right-icon"> swap_horiz </mat-icon>
              <span class="menu-items" (click)="openSetNewVolumeDialog()"> Set Min. Trade Volume </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-content>
          <p class="names no-margin-bottom"> Available Shares </p>
          <p class="names no-margin-top-p"> {{ availableSharesSD | number }} </p>
          <p class="names no-margin-bottom"> Available XCHF </p>
          <p class="names no-margin-top-p"> {{ availableXCHFSD / 1000000000000000000 | number:'.2' }} </p>
          <p class="names no-margin-bottom"> Minimum Trade Volume </p>
          <p class="names no-margin-top-p"> {{ minVolumeSD | number }} </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <!-- SECOND ROW -->

  <div class="row data-container">
    <div class="col-4">
      <mat-card class="mat-elevation-z8 data-card">
        <mat-card-title>
          <i class="material-icons"> looks_4 </i><span class="vertical-align">Price Information</span>
          <button *ngIf="MMenabled" mat-icon-button class="float-right" [matMenuTriggerFor]="menu1"
            aria-label="Settings button.">
            <i class="material-icons float-right"> settings </i>
          </button>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item>
              <mat-icon class="float-right-icon"> update </mat-icon>
              <span class="menu-items"> <a href="{{ ensUrl }}" target="_blank"> Update
                  ENS </a> </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-content>
          <p class="names no-margin-bottom"> Minimum Price </p>
          <p class="names no-margin-top-p"> {{ minPriceSD / 1000000000000000000 | number:'.2' }} CHF</p>
          <p class="names no-margin-bottom"> Maximum Price </p>
          <p class="names no-margin-top-p"> {{ maxPriceSD / 1000000000000000000 | number:'.2' }} CHF</p>
          <p class="names no-margin-bottom"> Linear Price Slope &nbsp; <mat-icon class="icon-tooltip-3"
              matTooltip="The linear price slope hinges on the initial available supply of shares, set as parameter value in the smart contract.">
              help_outline
            </mat-icon>
          </p>
          <p class="names no-margin-top-p"> {{ slopeSD | number:'.4' }} </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="mat-elevation-z8 data-card">
        <mat-card-title>
          <i class="material-icons"> looks_5 </i> <span class="vertical-align">Dispenser Details</span>
          <button *ngIf="MMenabled" mat-icon-button class="float-right" [matMenuTriggerFor]="menu4"
            aria-label="Settings button.">
            <i class="material-icons float-right"> settings </i>
          </button>
          <mat-menu #menu4="matMenu">
            <button mat-menu-item>
              <div *ngIf="sellSideStatusSD; then then4 else else4"></div>
              <ng-template #then4>
                <mat-icon class="float-right-icon"> pause </mat-icon>
                <span class="menu-items" (click)="openUpdateStatusDialog('sell', true)"> Disable Sell Side </span>
              </ng-template>
              <ng-template #else4>
                <mat-icon class="float-right-icon"> play_arrow </mat-icon>
                <span class="menu-items" (click)="openUpdateStatusDialog('sell', false)"> Enable Sell Side </span>
              </ng-template>
            </button>
            <button mat-menu-item>
              <div *ngIf="buySideStatusSD; then then5 else else5"></div>
              <ng-template #then5>
                <mat-icon class="float-right-icon"> pause_circle_filled </mat-icon>
                <span class="menu-items" (click)="openUpdateStatusDialog('buy', true)"> Disable Buy Side </span>
              </ng-template>
              <ng-template #else5>
                <mat-icon class="float-right-icon"> play_circle_filled </mat-icon>
                <span class="menu-items" (click)="openUpdateStatusDialog('buy', false)"> Enable Buy Side </span>
              </ng-template>
            </button>
            <button mat-menu-item>
              <div *ngIf="pauseStatusSD; then then6 else else6"></div>
              <ng-template #then6>
                <mat-icon class="float-right-icon"> play_circle_outline </mat-icon>
                <span class="menu-items" (click)="openPausingDialog(false)"> Unpausing Contract </span>
              </ng-template>
              <ng-template #else6>
                <mat-icon class="float-right-icon"> pause_circle_outline </mat-icon>
                <span class="menu-items" (click)="openPausingDialog(true)"> Pausing Contract </span>
              </ng-template>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-content>
          <div *ngIf="sellSideStatusSD; then then1 else else1"></div>
          <ng-template #then1>
            <p class="names no-margin-bottom"> Sell Side Status &nbsp;
              <mat-icon class="icon-tooltip-2" matTooltip="Enables the investors to buy shares from the company.">
                help_outline
              </mat-icon>
            </p>
            <p class="names no-margin-top-p"> Live </p>
          </ng-template>
          <ng-template #else1>
            <p class="names no-margin-bottom"> Sell Side Status &nbsp;
              <mat-icon class="icon-tooltip-2" matTooltip="Enables the investors to buy shares from the company.">
                help_outline
              </mat-icon>
            </p>
            <p class="names no-margin-top-p"> Disabled </p>
          </ng-template>
          <div *ngIf="buySideStatusSD; then then2 else else2"></div>
          <ng-template #then2>
            <p class="names no-margin-bottom"> Buy Side Status &nbsp;
              <mat-icon class="icon-tooltip-1" matTooltip="Enables the investors to sell their shares to the company.">
                help_outline
              </mat-icon>
            </p>
            <p class="names no-margin-top-p"> Live </p>
          </ng-template>
          <ng-template #else2>
            <p class="names no-margin-bottom"> Buy Side Status &nbsp;
              <mat-icon class="icon-tooltip-1" matTooltip="Enables the investors to sell their shares to the company.">
                help_outline
              </mat-icon>
            </p>
            <p class="names no-margin-top-p"> Disabled </p>
          </ng-template>
          <div *ngIf="pauseStatusSD; then then3 else else3"></div>
          <ng-template #then3>
            <p class="names no-margin-bottom"> Contract Status </p>
            <p class="names no-margin-top-p"> Paused </p>
          </ng-template>
          <ng-template #else3>
            <p class="names no-margin-bottom"> Contract Status </p>
            <p class="names no-margin-top-p"> Live </p>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="mat-elevation-z8 data-card">
        <mat-card-title>
          <i class="material-icons"> looks_6 </i> <span class="vertical-align">Contract Details</span>
          <button *ngIf="MMenabled" mat-icon-button class="float-right" [matMenuTriggerFor]="menu3"
            aria-label="Settings button.">
            <i class="material-icons float-right"> settings </i>
          </button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item>
              <mat-icon class="float-right-icon"> account_circle </mat-icon>
              <span class="menu-items" (click)="openChangeOwnerSDDialog()"> Change Owner </span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-content>
          <p class="names no-margin-bottom"> Contract Address </p>
          <p class="names no-margin-top-p"> <a href="https://rinkeby.etherscan.io/address/{{contractAddressSD}}"
              target="_blank"> Etherscan
            </a> </p>
          <p class="names no-margin-bottom"> Owner Address </p>
          <p class="names no-margin-top-p"> <a href="https://rinkeby.etherscan.io/address/{{ownerAddressSD}}"
              target="_blank"> Etherscan
            </a> </p>
          <p class="names no-margin-bottom"> Contract Address XCHF </p>
          <p class="names no-margin-top-p"> <a href="https://rinkeby.etherscan.io/address/{{XCHFAddressSD}}"
              target="_blank"> Etherscan
            </a> </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
