.main-nav {
	float: right;
	list-style: none;
	text-decoration: none;
	font-family: Saira Semi Condensed;
	color: #333;
	font-weight: 400;
	font-size: 80%;
	margin-top: 20px;
	padding-inline-start: 0px;
	padding-top: 8px;
}

.main-nav li {
	display: inline-block;
	margin: 20px;
}

.main-nav a {
	text-decoration: none;
	color: #333;
}

.main-nav a:hover {
	border-bottom: solid 2px #155c72;
	color: #155c72;
}

.no-margin {
    margin-top: 0;
}