.no-margin {
    margin-top: 0;
}

@media only screen and (max-width: 1024px) {

	.logo {
		width: 150px;
		height: auto;
		margin: 24px 28px 0px 0px;
	}
}

@media only screen and (max-width: 640px) {
	.logo {
		margin: 24px 20px 0px 0px;
	}
}

@media only screen and (max-width: 480px) {
	.logo {
		width: 150px;
		height: auto;
	}
}