.main-nav {
	float: right;
	list-style: none;
	text-decoration: none;
	font-family: Saira Semi Condensed;
	color: #333;
	font-weight: 400;
	font-size: 80%;
	margin-top: 20px;
	padding-inline-start: 0px;
	padding-top: 8px;
}

.main-nav li {
	display: inline-block;
	margin: 20px;
}

.main-nav a {
	text-decoration: none;
	color: #333;
}

.main-nav a:hover {
	border-bottom: solid 2px #155c72;
	color: #155c72;
}

.mobile-nav {
	a {
		color: #333 !important;
	}
	position: absolute;	
	right: 50px;
	top: 30px;
	.mat-icon {
		font-size: 280%;
	}
}

.no-margin {
    margin-top: 0;
}

@media only screen and (max-width: 1024px) {

	.logo {
		width: 150px;
		height: auto;
		margin: 24px 28px 0px 0px;
	}
}

@media only screen and (max-width: 640px) {
	.main-nav {
		display: none;
	}
	.logo {
		margin: 24px 20px 0px 0px;
	}
}

@media only screen and (min-width: 639px) {
	.mobile-nav {
		visibility: hidden;
	}
}

@media only screen and (max-width: 480px) {
	.logo {
		width: 150px;
		height: auto;
	}
}