<header>
    <div class="row no-margin">
    <a href="https://www.alethena.com/"><img src="../../assets/images/Alethena_horizontal.png" alt="Alethena Logo"
        class="logo"></a>
    <ul class="main-nav">
      <li><a href="https://www.alethena.com/">Home</a></li>
      <li><a routerLink="/equity" routerLinkActive="router-active">Equity</a></li>
      <li><a routerLink="/sharedispenser" routerLinkActive="router-active">Share Dispenser</a></li>
      <li><a routerLink="/claim" routerLinkActive="router-active">Claim</a></li>
    </ul>
    <div class="mobile-nav">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span><a href="https://www.alethena.com/">Home</a></span>
          </button>
          <button mat-menu-item disabled>
            <span><a routerLink="/equity" routerLinkActive="router-active">Equity</a></span>
          </button>
          <button mat-menu-item>
            <span><a routerLink="/sharedispenser" routerLinkActive="router-active">Share Dispenser</a></span>
          </button>
          <button mat-menu-item>
            <span><a routerLink="/claim" routerLinkActive="router-active">Claim</a></span>
          </button>
        </mat-menu>
      </div>
    </div>
</header>
